{{#if profile}}
  <h1>Mi perfil</h1>
{{/if}}


<div>
  <div class="text-center">
    <div class="my-4 bg-secondary-subtle p-4 rounded">
      <img class="rounded-circle" src="{{user.image}}" alt="User" height="60">
      <h3>{{user.username}}</h3>
      <h4>{{user.email}}</h4>
      {{#if profile}}
        <a href="/products/new" class="btn btn-primary">Crea un nuevo anuncio</a>
      {{/if}}
    </div>


    {{#if profile}}
      <h2>Mis anuncios</h2>
    {{else}}
      <h2>Anuncios de este usuario</h2>
    {{/if}}

    <div class="row">
      {{#each user.products as |product|}}
        <div class="col-12 col-md-4">
          {{> productCard product=product isProfile=../profile }}
        </div>
      {{/each}}
    </div>

    {{#if profile}}
      <h2>Mi lista de deseos</h2>

      <div class="row">
        {{#each user.wishes as |wish|}}
          <div class="col-12 col-md-4">
            {{> productCard product=wish.product }}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>