<div class="row">
  <div class="col-12 col-md-9">
    <div class="bg-light">
      <img id="current-image" class="img-fluid" src="{{product.images.[0]}}" />
    </div>

    <div class="d-flex my-2 gap-3">
      {{#each product.images as |image|}}
        <img class="product-image" src="{{image}}" alt="" height="50">
      {{/each}}
    </div>

    <h1>{{product.title}}</h1>

  </div>
  <div class="col-12 col-md-3"></div>
</div>

<script src="/js/product-detail.js"></script>
